In [15]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import time
import pandas as pd

In [29]:
def get_jobs(keyword, num_jobs, verbose):
    
    '''Gathers jobs as a dataframe, scraped from Glassdoor'''
    
    #Initializing the webdriver
    options = webdriver.ChromeOptions()
    
    #Uncomment the line below if you'd like to scrape without a new Chrome window every time.
    #options.add_argument('headless')
    
    #Change the path to where chromedriver is in your home folder.
    driver = webdriver.Chrome(executable_path="C:\\Users\\asd\\Documents\\chromedriver_win32 (1)\\chromedriver.exe", options=options)
    driver.set_window_size(1120, 1000)
          
    url = "https://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword="+keyword+"&sc.keyword="+keyword+"&locT=&locId=&jobType="

   # url = 'https://www.glassdoor.co.in/Job/india-data-scientist-jobs-SRCH_IL.0,5_IN115_KE6,20.htm?sc.keyword="' + keyword + '"&locT=C&locId=1147401&locKeyword=San%20Francisco,%20CA&jobType=all&fromAge=-1&minSalary=0&includeNoSalaryJobs=true&radius=100&cityId=-1&minRating=0.0&industryId=-1&sgocId=-1&seniorityType=all&companyId=-1&employerSizes=0&applicationType=0&remoteWorkType=0'
    driver.get(url)
    jobs = []

    while len(jobs) < num_jobs:  #If true, should be still looking for new jobs.

        #Let the page load. Change this number based on your internet speed.
        #Or, wait until the webpage is loaded, instead of hardcoding it.
        time.sleep(4)

        #Test for the "Sign Up" prompt and get rid of it.
        try:
            driver.find_element_by_class_name("selected").click()
        except ElementClickInterceptedException:
            pass

        time.sleep(.1)

        try:
            driver.find_element_by_class_name("ModalStyle__xBtn___29PT9").click()  #clicking to the X.
        except NoSuchElementException:
            pass

        
        #Going through each job in this page
        job_buttons = driver.find_elements_by_class_name("jl")  #jl for Job Listing. These are the buttons we're going to click.
        for job_button in job_buttons:  

            print("Progress: {}".format("" + str(len(jobs)) + "/" + str(num_jobs)))
            if len(jobs) >= num_jobs:
                break

            job_button.click()  #You might 
            time.sleep(1)
            collected_successfully = False
            
            while not collected_successfully:
                try:
                    company_name = driver.find_element_by_xpath('.//div[@class="employerName"]').text
                    location = driver.find_element_by_xpath('.//div[@class="location"]').text
                    job_title = driver.find_element_by_xpath('.//div[contains(@class, "title")]').text
                    job_description = driver.find_element_by_xpath('.//div[@class="jobDescriptionContent desc"]').text
                    collected_successfully = True
                except:
                    time.sleep(5)

            try:
                salary_estimate = driver.find_element_by_xpath('.//span[@class="gray salary"]').text
            except NoSuchElementException:
                salary_estimate = -1 #You need to set a "not found value. It's important."
            
            try:
                rating = driver.find_element_by_xpath('.//span[@class="rating"]').text
            except NoSuchElementException:
                rating = -1 #You need to set a "not found value. It's important."

            #Printing for debugging
            if verbose:
                print("Job Title: {}".format(job_title))
                print("Salary Estimate: {}".format(salary_estimate))
                print("Job Description: {}".format(job_description[:500]))
                print("Rating: {}".format(rating))
                print("Company Name: {}".format(company_name))
                print("Location: {}".format(location))

            #Going to the Company tab...
            #clicking on this:
            #<div class="tab" data-tab-type="overview"><span>Company</span></div>
            try:
                driver.find_element_by_xpath('.//div[@class="tab" and @data-tab-type="overview"]').click()

                try:
                    #<div class="infoEntity">
                    #    <label>Headquarters</label>
                    #    <span class="value">San Francisco, CA</span>
                    #</div>
                    headquarters = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Headquarters"]//following-sibling::*').text
                except NoSuchElementException:
                    headquarters = -1

                try:
                    size = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Size"]//following-sibling::*').text
                except NoSuchElementException:
                    size = -1

                try:
                    founded = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Founded"]//following-sibling::*').text
                except NoSuchElementException:
                    founded = -1

                try:
                    type_of_ownership = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Type"]//following-sibling::*').text
                except NoSuchElementException:
                    type_of_ownership = -1

                try:
                    industry = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Industry"]//following-sibling::*').text
                except NoSuchElementException:
                    industry = -1

                try:
                    sector = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Sector"]//following-sibling::*').text
                except NoSuchElementException:
                    sector = -1

                try:
                    revenue = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Revenue"]//following-sibling::*').text
                except NoSuchElementException:
                    revenue = -1

                try:
                    competitors = driver.find_element_by_xpath('.//div[@class="infoEntity"]//label[text()="Competitors"]//following-sibling::*').text
                except NoSuchElementException:
                    competitors = -1

            except NoSuchElementException:  #Rarely, some job postings do not have the "Company" tab.
                headquarters = -1
                size = -1
                founded = -1
                type_of_ownership = -1
                industry = -1
                sector = -1
                revenue = -1
                competitors = -1

                
            if verbose:
                print("Headquarters: {}".format(headquarters))
                print("Size: {}".format(size))
                print("Founded: {}".format(founded))
                print("Type of Ownership: {}".format(type_of_ownership))
                print("Industry: {}".format(industry))
                print("Sector: {}".format(sector))
                print("Revenue: {}".format(revenue))
                print("Competitors: {}".format(competitors))
                print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")

            jobs.append({"Job Title" : job_title,
            "Salary Estimate" : salary_estimate,
            "Job Description" : job_description,
            "Rating" : rating,
            "Company Name" : company_name,
            "Location" : location,
            "Headquarters" : headquarters,
            "Size" : size,
            "Founded" : founded,
            "Type of ownership" : type_of_ownership,
            "Industry" : industry,
            "Sector" : sector,
            "Revenue" : revenue,
            "Competitors" : competitors})
            #add job to jobs

        #Clicking on the "next page" button
        try:
            driver.find_element_by_xpath('.//li[@class="next"]//a').click()  
        except NoSuchElementException:
            print("Scraping terminated before reaching target number of jobs. Needed {}, got {}.".format(num_jobs, len(jobs)))
            break

    return pd.DataFrame(jobs)  #This line converts the dictionary object into a pandas DataFrame.

In [30]:
#This line will open a new chrome window and start the scraping.
df = get_jobs("data scientist", 25, False)
df

Progress: 0/25
Progress: 1/25
Progress: 2/25
Progress: 3/25
Progress: 4/25
Progress: 5/25
Progress: 6/25
Progress: 7/25
Progress: 8/25
Progress: 9/25
Progress: 10/25
Progress: 11/25
Progress: 12/25
Progress: 13/25
Progress: 14/25
Progress: 15/25
Progress: 16/25
Progress: 17/25
Progress: 18/25
Progress: 19/25
Progress: 20/25
Progress: 21/25
Progress: 22/25
Progress: 23/25
Progress: 24/25
Progress: 25/25

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,-1,Provide analytical insights into emerging prob...,3.6,PayPal\n3.6,Bengaluru,"San Jose, CA",10000+ employees,1998,Company - Public,Internet,Information Technology,₹500+ billion (INR),"Square, Amazon, Apple"
1,Data Scientist,-1,Job Description – Data Scientist\n\nLocation: ...,3.5,Buckman\n3.5,Chennai,"Memphis, TN",1001 to 5000 employees,1945,Company - Private,Chemical Manufacturing,Manufacturing,₹50 to ₹100 billion (INR),-1
2,Data Scientist,-1,What You Should Expect\n\nTo ride the wave of ...,4.3,Blue Yonder\n4.3,Bengaluru,"Scottsdale, AZ",5001 to 10000 employees,1985,Company - Private,Enterprise Software & Network Solutions,Information Technology,₹100 to ₹500 billion (INR),"SAP, Oracle, Manhattan Associates"
3,Data Scientist,-1,Site Name: India - Karnataka - Bangalore\nPost...,3.9,GSK\n3.9,Bengaluru,"Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Pfizer, AstraZeneca, Merck"
4,Data Scientist,-1,"At Amazon, we strive to be most customer-centr...",4.2,Amazon\n4.2,Hyderabad,"Seattle, WA",10000+ employees,1994,Company - Public,Internet,Information Technology,₹500+ billion (INR),"Google, Microsoft, Walmart"
5,Data Scientist,-1,Overview\n\n\nWe have an exciting opportunity ...,4.0,Quanticate\n4.0,Bengaluru,"Hitchin, United Kingdom",201 to 500 employees,1995,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹1 to ₹5 billion (INR),"GCE Solutions, Parexel, IQVIA"
6,Data Scientist,-1,Job Title Data Scientist (AI/ML)\n\nLocation B...,3.3,UnitedHealth Group\n3.3,Bengaluru,"Minnetonka, MN",10000+ employees,1977,Company - Public,Healthcare Services & Hospitals,Healthcare,₹500+ billion (INR),"Aetna, Humana, WellPoint"
7,Data Scientist,-1,"When everything's connected, how we connect is...",3.3,TTEC\n3.3,Hyderabad,"Englewood, CO",10000+ employees,1982,Company - Public,Staffing & Outsourcing,Business Services,₹100 to ₹500 billion (INR),"Teleperformance, TaskUs, Convergys"
8,Specialist Data Scientist,-1,Primary Skills\nSupervised and Unsupervised ma...,3.7,NICE\n3.7,Pune,"Raanana, Israel",5001 to 10000 employees,1986,Company - Public,Enterprise Software & Network Solutions,Information Technology,₹100 to ₹500 billion (INR),-1
9,Data Engineer (ETL),-1,We are looking for a Data Engineer who will wo...,3.7,Doubtnut\n3.7,Gurgaon,"Gurgaon, India",51 to 200 employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
10,Data Scientist,-1,COMPANY OVERVIEW\nTata Group is an Indian mult...,3.9,Tata Insights and Quants\n3.9,Mumbai,"Zug, Switzerland",10000+ employees,1980,Unknown,Architectural & Engineering Services,Business Services,Unknown / Non-Applicable,-1
11,Consultant – Data Analyst with Python,-1,Consultant – Data Analyst with Python\nFunctio...,3.6,Genpact\n3.6,Noida,"New York, NY",10000+ employees,1997,Company - Public,IT Services,Information Technology,₹100 to ₹500 billion (INR),"Accenture, IBM, Capgemini"
12,Data Scientist,-1,Job: Technology\nPrimary Location: ASEAN & Sou...,3.7,Standard Chartered\n3.7,Chennai,"London, United Kingdom",10000+ employees,-1,Company - Public,Investment Banking & Asset Management,Finance,₹500+ billion (INR),-1
13,Data Scientist - BluePlanet Enterprise,-1,"Since 1992, Ciena has been driven by a relentl...",4.3,Ciena\n4.3,Pune,"Hanover, MD",5001 to 10000 employees,1992,Company - Public,Telecommunications Manufacturing,Telecommunications,₹100 to ₹500 billion (INR),"Nokia, Infinera, Cisco Systems"
14,Data Scientist,-1,"Responsibilities\nÂ· Selecting features, build...",-1,Wade Maritime Consultants Private Limited,Chandigarh,-1,-1,-1,-1,-1,-1,-1,-1
15,Data Scientist,-1,"Job Summary:\nProvide strong analytical, advan...",4.1,ColorTokens\n4.1,Hyderabad,"Santa Clara, CA",51 to 200 employees,2015,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
16,MS Data Scientist,-1,The MS\nData Scientist- Manager\n\nWill be res...,3.8,EY\n3.8,India,"London, United Kingdom",10000+ employees,1989,Company - Private,Accounting,Accounting & Legal,₹500+ billion (INR),"Deloitte, KPMG, PwC"
17,Data Scientist,-1,Jr. Data Scientist / Data Scientist\n\nHaving ...,3.7,Mastek Limited\n3.7,Mumbai,"Reading, United Kingdom",1001 to 5000 employees,1982,Company - Public,IT Services,Information Technology,₹10 to ₹50 billion (INR),"Capgemini, Cognizant Technology Solutions, Min..."
18,Machine Learning Engineer,-1,Hewlett Packard Enterprise is an industry lead...,4.2,Hewlett Packard Enterprise\n4.2,Bengaluru,"Palo Alto, CA",10000+ employees,2015,Company - Public,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,"Oracle, Accenture"
19,Data Scientist,-1,"Analyze raw data: assessing quality, cleansing...",3.2,Corp Talents\n3.2,Mumbai,"San Jose, CA",201 to 500 employees,2000,Company - Private,-1,-1,₹500 million to ₹1 billion (INR),-1
20,Data Scientist - Advanced Analytics,-1,Position Title\nData Scientist - Advanced Anal...,3.9,Novartis\n3.9,Hyderabad,"Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1
21,Data & Applied Scientist 2,-1,What if your job description were simply “make...,4.3,Microsoft\n4.3,Bengaluru,"Redmond, WA",10000+ employees,1975,Company - Public,Computer Hardware & Software,Information Technology,₹500+ billion (INR),"Google, Amazon, Apple"
22,Data Scientist,-1,The Offer\n\nWork with a revolutionary Agri-Fi...,-1,SnapHunt Pte Ltd,Mumbai,-1,-1,-1,-1,-1,-1,-1,-1
23,Data Scientist,-1,"Analytics\n\nData Scientist\n\nPune, Maharasht...",2.8,Evolent Health\n2.8,Pune,"Arlington, VA",1001 to 5000 employees,2011,Company - Public,Healthcare Services & Hospitals,Healthcare,₹1 to ₹5 billion (INR),-1
24,Data Scientist,-1,JOB DESCRIPTION\n\nData Scientist\n\nRole : Da...,4.0,inteliment\n4.0,Pune,"Pune, India",51 to 200 employees,-1,Company - Private,IT Services,Information Technology,₹1 to ₹5 billion (INR),-1

In [31]:
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,-1,Provide analytical insights into emerging prob...,3.6,PayPal\n3.6,Bengaluru,"San Jose, CA",10000+ employees,1998,Company - Public,Internet,Information Technology,₹500+ billion (INR),"Square, Amazon, Apple"
1,Data Scientist,-1,Job Description – Data Scientist\n\nLocation: ...,3.5,Buckman\n3.5,Chennai,"Memphis, TN",1001 to 5000 employees,1945,Company - Private,Chemical Manufacturing,Manufacturing,₹50 to ₹100 billion (INR),-1
2,Data Scientist,-1,What You Should Expect\n\nTo ride the wave of ...,4.3,Blue Yonder\n4.3,Bengaluru,"Scottsdale, AZ",5001 to 10000 employees,1985,Company - Private,Enterprise Software & Network Solutions,Information Technology,₹100 to ₹500 billion (INR),"SAP, Oracle, Manhattan Associates"
3,Data Scientist,-1,Site Name: India - Karnataka - Bangalore\nPost...,3.9,GSK\n3.9,Bengaluru,"Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Pfizer, AstraZeneca, Merck"
4,Data Scientist,-1,"At Amazon, we strive to be most customer-centr...",4.2,Amazon\n4.2,Hyderabad,"Seattle, WA",10000+ employees,1994,Company - Public,Internet,Information Technology,₹500+ billion (INR),"Google, Microsoft, Walmart"
5,Data Scientist,-1,Overview\n\n\nWe have an exciting opportunity ...,4.0,Quanticate\n4.0,Bengaluru,"Hitchin, United Kingdom",201 to 500 employees,1995,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹1 to ₹5 billion (INR),"GCE Solutions, Parexel, IQVIA"
6,Data Scientist,-1,Job Title Data Scientist (AI/ML)\n\nLocation B...,3.3,UnitedHealth Group\n3.3,Bengaluru,"Minnetonka, MN",10000+ employees,1977,Company - Public,Healthcare Services & Hospitals,Healthcare,₹500+ billion (INR),"Aetna, Humana, WellPoint"
7,Data Scientist,-1,"When everything's connected, how we connect is...",3.3,TTEC\n3.3,Hyderabad,"Englewood, CO",10000+ employees,1982,Company - Public,Staffing & Outsourcing,Business Services,₹100 to ₹500 billion (INR),"Teleperformance, TaskUs, Convergys"
8,Specialist Data Scientist,-1,Primary Skills\nSupervised and Unsupervised ma...,3.7,NICE\n3.7,Pune,"Raanana, Israel",5001 to 10000 employees,1986,Company - Public,Enterprise Software & Network Solutions,Information Technology,₹100 to ₹500 billion (INR),-1
9,Data Engineer (ETL),-1,We are looking for a Data Engineer who will wo...,3.7,Doubtnut\n3.7,Gurgaon,"Gurgaon, India",51 to 200 employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1

In [32]:
df.shape

(25, 14)

In [33]:
df.describe

<bound method NDFrame.describe of                                  Job Title  Salary Estimate  \
0                           Data Scientist               -1
1                           Data Scientist               -1
2                           Data Scientist               -1
3                           Data Scientist               -1
4                           Data Scientist               -1
5                           Data Scientist               -1
6                           Data Scientist               -1
7                           Data Scientist               -1
8                Specialist Data Scientist               -1
9                      Data Engineer (ETL)               -1
10                          Data Scientist               -1
11   Consultant – Data Analyst with Python               -1
12                          Data Scientist               -1
13  Data Scientist - BluePlanet Enterprise               -1
14                          Data Scientist               -1
15                          Data Scientist               -1
16                       MS Data Scientist               -1
17                          Data Scientist               -1
18               Machine Learning Engineer               -1
19                          Data Scientist               -1
20     Data Scientist - Advanced Analytics               -1
21              Data & Applied Scientist 2               -1
22                          Data Scientist               -1
23                          Data Scientist               -1
24                          Data Scientist               -1

                                      Job Description Rating  \
0   Provide analytical insights into emerging prob...    3.6
1   Job Description – Data Scientist\n\nLocation: ...    3.5
2   What You Should Expect\n\nTo ride the wave of ...    4.3
3   Site Name: India - Karnataka - Bangalore\nPost...    3.9
4   At Amazon, we strive to be most customer-centr...    4.2
5   Overview\n\n\nWe have an exciting opportunity ...    4.0
6   Job Title Data Scientist (AI/ML)\n\nLocation B...    3.3
7   When everything's connected, how we connect is...    3.3
8   Primary Skills\nSupervised and Unsupervised ma...    3.7
9   We are looking for a Data Engineer who will wo...    3.7
10  COMPANY OVERVIEW\nTata Group is an Indian mult...    3.9
11  Consultant – Data Analyst with Python\nFunctio...    3.6
12  Job: Technology\nPrimary Location: ASEAN & Sou...    3.7
13  Since 1992, Ciena has been driven by a relentl...    4.3
14  Responsibilities\nÂ· Selecting features, build...     -1
15  Job Summary:\nProvide strong analytical, advan...    4.1
16  The MS\nData Scientist- Manager\n\nWill be res...    3.8
17  Jr. Data Scientist / Data Scientist\n\nHaving ...    3.7
18  Hewlett Packard Enterprise is an industry lead...    4.2
19  Analyze raw data: assessing quality, cleansing...    3.2
20  Position Title\nData Scientist - Advanced Anal...    3.9
21  What if your job description were simply “make...    4.3
22  The Offer\n\nWork with a revolutionary Agri-Fi...     -1
23  Analytics\n\nData Scientist\n\nPune, Maharasht...    2.8
24  JOB DESCRIPTION\n\nData Scientist\n\nRole : Da...    4.0

                                 Company Name    Location  \
0                                 PayPal\n3.6   Bengaluru
1                                Buckman\n3.5     Chennai
2                            Blue Yonder\n4.3   Bengaluru
3                                    GSK\n3.9   Bengaluru
4                                 Amazon\n4.2   Hyderabad
5                             Quanticate\n4.0   Bengaluru
6                     UnitedHealth Group\n3.3   Bengaluru
7                                   TTEC\n3.3   Hyderabad
8                                   NICE\n3.7        Pune
9                               Doubtnut\n3.7     Gurgaon
10              Tata Insights and Quants\n3.9      Mumbai
11                               Genpact\n3.6       Noida
12                    Standard Chartered\n3.7     Chennai
13                                 Ciena\n4.3        Pune
14  Wade Maritime Consultants Private Limited  Chandigarh
15                           ColorTokens\n4.1   Hyderabad
16                                    EY\n3.8       India
17                        Mastek Limited\n3.7      Mumbai
18            Hewlett Packard Enterprise\n4.2   Bengaluru
19                          Corp Talents\n3.2      Mumbai
20                              Novartis\n3.9   Hyderabad
21                             Microsoft\n4.3   Bengaluru
22                           SnapHunt Pte Ltd      Mumbai
23                        Evolent Health\n2.8        Pune
24                            inteliment\n4.0        Pune

                 Headquarters                     Size Founded  \
0                San Jose, CA         10000+ employees    1998
1                 Memphis, TN   1001 to 5000 employees    1945
2              Scottsdale, AZ  5001 to 10000 employees    1985
3   Brentford, United Kingdom         10000+ employees    1830
4                 Seattle, WA         10000+ employees    1994
5     Hitchin, United Kingdom     201 to 500 employees    1995
6              Minnetonka, MN         10000+ employees    1977
7               Englewood, CO         10000+ employees    1982
8             Raanana, Israel  5001 to 10000 employees    1986
9              Gurgaon, India      51 to 200 employees    2016
10           Zug, Switzerland         10000+ employees    1980
11               New York, NY         10000+ employees    1997
12     London, United Kingdom         10000+ employees      -1
13                Hanover, MD  5001 to 10000 employees    1992
14                         -1                       -1      -1
15            Santa Clara, CA      51 to 200 employees    2015
16     London, United Kingdom         10000+ employees    1989
17    Reading, United Kingdom   1001 to 5000 employees    1982
18              Palo Alto, CA         10000+ employees    2015
19               San Jose, CA     201 to 500 employees    2000
20         Basel, Switzerland         10000+ employees    1996
21                Redmond, WA         10000+ employees    1975
22                         -1                       -1      -1
23              Arlington, VA   1001 to 5000 employees    2011
24                Pune, India      51 to 200 employees      -1

    Type of ownership                                 Industry  \
0    Company - Public                                 Internet
1   Company - Private                   Chemical Manufacturing
2   Company - Private  Enterprise Software & Network Solutions
3    Company - Public                Biotech & Pharmaceuticals
4    Company - Public                                 Internet
5   Company - Private                Biotech & Pharmaceuticals
6    Company - Public          Healthcare Services & Hospitals
7    Company - Public                   Staffing & Outsourcing
8    Company - Public  Enterprise Software & Network Solutions
9   Company - Private                                 Internet
10            Unknown     Architectural & Engineering Services
11   Company - Public                              IT Services
12   Company - Public    Investment Banking & Asset Management
13   Company - Public         Telecommunications Manufacturing
14                 -1                                       -1
15  Company - Private  Enterprise Software & Network Solutions
16  Company - Private                               Accounting
17   Company - Public                              IT Services
18   Company - Public  Enterprise Software & Network Solutions
19  Company - Private                                       -1
20   Company - Public                Biotech & Pharmaceuticals
21   Company - Public             Computer Hardware & Software
22                 -1                                       -1
23   Company - Public          Healthcare Services & Hospitals
24  Company - Private                              IT Services

                       Sector                           Revenue  \
0      Information Technology               ₹500+ billion (INR)
1               Manufacturing         ₹50 to ₹100 billion (INR)
2      Information Technology        ₹100 to ₹500 billion (INR)
3   Biotech & Pharmaceuticals               ₹500+ billion (INR)
4      Information Technology               ₹500+ billion (INR)
5   Biotech & Pharmaceuticals            ₹1 to ₹5 billion (INR)
6                  Healthcare               ₹500+ billion (INR)
7           Business Services        ₹100 to ₹500 billion (INR)
8      Information Technology        ₹100 to ₹500 billion (INR)
9      Information Technology          Unknown / Non-Applicable
10          Business Services          Unknown / Non-Applicable
11     Information Technology        ₹100 to ₹500 billion (INR)
12                    Finance               ₹500+ billion (INR)
13         Telecommunications        ₹100 to ₹500 billion (INR)
14                         -1                                -1
15     Information Technology          Unknown / Non-Applicable
16         Accounting & Legal               ₹500+ billion (INR)
17     Information Technology          ₹10 to ₹50 billion (INR)
18     Information Technology          Unknown / Non-Applicable
19                         -1  ₹500 million to ₹1 billion (INR)
20  Biotech & Pharmaceuticals               ₹500+ billion (INR)
21     Information Technology               ₹500+ billion (INR)
22                         -1                                -1
23                 Healthcare            ₹1 to ₹5 billion (INR)
24     Information Technology            ₹1 to ₹5 billion (INR)

                                          Competitors
0                               Square, Amazon, Apple
1                                                  -1
2                   SAP, Oracle, Manhattan Associates
3                          Pfizer, AstraZeneca, Merck
4                          Google, Microsoft, Walmart
5                       GCE Solutions, Parexel, IQVIA
6                            Aetna, Humana, WellPoint
7                  Teleperformance, TaskUs, Convergys
8                                                  -1
9                                                  -1
10                                                 -1
11                          Accenture, IBM, Capgemini
12                                                 -1
13                     Nokia, Infinera, Cisco Systems
14                                                 -1
15                                                 -1
16                                Deloitte, KPMG, PwC
17  Capgemini, Cognizant Technology Solutions, Min...
18                                  Oracle, Accenture
19                                                 -1
20                                                 -1
21                              Google, Amazon, Apple
22                                                 -1
23                                                 -1
24                                                 -1  >